1. Print Numbers 1 to 10

Use a for loop to print numbers from 1 to 10.

In [1]:
for i in range(1 ,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

2. Print Even Numbers from 2 to 20

Use a while loop to print even numbers from 2 to 20.

In [2]:
for i in range(2, 21, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20

3. Sum of First N Natural Numbers

Ask the user to enter a number n, and print the sum of first n natural numbers using a loop.

In [3]:
N = int(input("Enter a number: "))
sum = N * (N + 1) // 2
print("Sum of first", N, "natural numbers is:", sum)

Enter a number: 654
Sum of first 654 natural numbers is: 214185

4. Break When Number is Found

Given a list of numbers, write a loop to search for a number (say 42).

Use break when it's found and print ‚ÄúFound 42!‚Äù

Example: [10, 20, 30, 42, 50]

In [4]:
list = [10,20,30,42,50]
for i in list:
    if i == 42:
        print("Found 42!")
        break

Found 42!

Given a list of integers, print only the positive numbers using continue

In [5]:
list = [10, -5, 0, 23, -1, 8, -12, 35, 21]

for num in list:
    if num <= 0:
        continue
    print(num)

10
23
8
35
21

6. Multiplication Table (1 to 5)

Use nested for loops to print the multiplication table for numbers 1 to 5.

In [6]:
for i in range(1, 11):
    for j in range(1, 6):
        print(f"{j} x {i} = {i * j}", end="\t")
    print()

1 x 1 = 1	2 x 1 = 2	3 x 1 = 3	4 x 1 = 4	5 x 1 = 5
1 x 2 = 2	2 x 2 = 4	3 x 2 = 6	4 x 2 = 8	5 x 2 = 10
1 x 3 = 3	2 x 3 = 6	3 x 3 = 9	4 x 3 = 12	5 x 3 = 15
1 x 4 = 4	2 x 4 = 8	3 x 4 = 12	4 x 4 = 16	5 x 4 = 20
1 x 5 = 5	2 x 5 = 10	3 x 5 = 15	4 x 5 = 20	5 x 5 = 25
1 x 6 = 6	2 x 6 = 12	3 x 6 = 18	4 x 6 = 24	5 x 6 = 30
1 x 7 = 7	2 x 7 = 14	3 x 7 = 21	4 x 7 = 28	5 x 7 = 35
1 x 8 = 8	2 x 8 = 16	3 x 8 = 24	4 x 8 = 32	5 x 8 = 40
1 x 9 = 9	2 x 9 = 18	3 x 9 = 27	4 x 9 = 36	5 x 9 = 45
1 x 10 = 10	2 x 10 = 20	3 x 10 = 30	4 x 10 = 40	5 x 10 = 50

7. Print Pattern (Nested Loops)

Print the following pattern using nested loops:

In [7]:

*
* *
* * *
* * * *
* * * * *

SyntaxError: invalid syntax (ipython-input-2140345761.py, line 1)

In [ ]:
for i in range(1, 6):
    for j in range(i):
        print("*", end=" ")
    print()

8. Count Vowels in a String

Take a string and count how many vowels it contains using a loop.

In [8]:
text = input("Enter a string: ")

vowel_count = 0
vowels = "aeiouAEIOU"

for char in text:
    if char in vowels:
        vowel_count += 1

print("Number of vowels:", vowel_count)

Enter a string: sai
Number of vowels: 2

9. Find the Factorial of a Number

Take an input n, and compute n! using a loop.

In [9]:

n = int(input("Enter a number: "))

factorial = 1

for i in range(1, n + 1):
    factorial *= i

print(f"The factorial of {n} is {factorial}")

Enter a number: 10
The factorial of 10 is 3628800

10. Reverse a Number

In [10]:

num = int(input("Enter a number: "))
reversed = 0
original_num = num
while num > 0:
    digit = num % 10
    reversed = reversed * 10 + digit
    num = num // 10
print(f"The reverse of {original_num} is {reversed}")

Enter a number: 556
The reverse of 556 is 655

üöÄ Higher-Medium Challenge: Prime Number Triangle

In [11]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

def prime_triangle(n):
    count = 0
    number = 2
    for row in range(1, n + 1):
        printed = 0
        while printed < row:
            if is_prime(number):
                print(number, end=' ')
                printed += 1
            number += 1
        print()
n = int(input("Enter number of rows: "))
prime_triangle(n)

Enter number of rows: 5
2
3 5
7 11 13
17 19 23 29
31 37 41 43 47

**FUNCTIONS :-**

In [12]:
def greet():
    print("Hello, welcome!")

**Function with Parameters**

In [15]:
def greet(name):
    print(f"Hello, {name}!")

greet("Sai")

Hello, Sai!

**Function with Return Value**

In [16]:
def add(a, b):
    return a + b

result = add(3, 5)
print(result)

8

**Default Parameters**

In [18]:
def greet(name="Guest"):
    print(f"Hello, {name}!")

greet()
greet("Mohan")

Hello, Guest!
Hello, Mohan!